@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.image1 {
  border-radius: 80px;
  width: 200px;
  height: 200px;
}

h1 {
  color: #5671a6;
  text-align: center;
  font-family: "Poppins";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
}

h2 {
  color: #5671a6;
  text-align: center;
  font-family: "Poppins";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
}

h4 {
  color: #5671a6;
  text-align: center;
  font-family: "Poppins";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
}

.section2 {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

header {
  display: flex;
  justify-content: center;
  gap: 20px;
}

h5 {
  font-family: "Poppins";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.image1 {
  width: 163px;
  height: 163px;
}

.developer {
  color: #383838;
  font-family: "Poppins";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.developer-experience {
  width: 179px;
  height: 84px;
  flex-shrink: 0;
  color: #616161;
  text-align: center;
  font-family: "Bai Jamjuree";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.profilediv {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  margin-top: 10px;
}

.icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.icons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.contactme {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: "Poppins";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 180px;
  height: 50px;
  border-radius: 50px;
  background: #5671a6;
  margin: auto;
  margin-top: 20px;
}

@media (min-width: 1040px) {
  header {
    display: flex;
    justify-content: center;
    gap: 20px;
    justify-content: flex-start;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 2px solid #6d8093;
  }

  .maincard {
    display: flex;
    gap: 40px;
  }

  .section1 {
    border-right: 2px solid #6d8093;
    padding: 0 30px;
  }
}
